################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bcn.ActionFlow/.vs/bcn.ActionFlow/FileContentIndex
/bcn.ActionFlow/ActionFlow/obj
/bcn.ActionFlow/.vs/bcn.ActionFlow/v17
/bcn.ActionFlow/.vs/bcn.ActionFlow/DesignTimeBuild
/bcn.ActionFlow/ActionFlowDemo/obj
/bcn.ActionFlow/ActionFlowDemo/Properties
